<div class="recent_comments_heading">
  {{ 'Останнi Вiдгуки'|t }}
</div>
<div class="recent_comments_main">
  {{ content }}
</div>
<div class="recent_comments_all_comments">
  <a href="/vidguky">Дивитися усi вiдгуки</a>
</div>
